<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CV_Spectrometer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CV_Spectrometer.Properties.Settings>
            <setting name="iIntLimitTime" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="fAutoIntTimeB" serializeAs="String">
                <value>1</value>
            </setting>
        </CV_Spectrometer.Properties.Settings>
    </userSettings>
</configuration>
